.idea/
docs/_*
*/*.pyc
*/__pycache__
*/__pycache__
speechemotionrecognition/*.ipynb*
.vscode/
.python-version
.DS_Store
build/
dist/
speechemotionrecognition.egg-info/
.python-version
venv/
*.m4a
*.mp4
*.mp3
*.gp3
*.wav
